USE [master]
GO
/****** Object:  Database [QUILO3D]    Script Date: 26/11/2024 19:07:31 ******/
CREATE DATABASE [QUILO3D]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUILO3D', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QUILO3D.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUILO3D_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QUILO3D_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUILO3D].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUILO3D]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Dni] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impresora]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impresora](
	[IdImpresora] [int] NOT NULL,
	[ConsumoElectrico] [int] NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Impresora] PRIMARY KEY CLUSTERED 
(
	[IdImpresora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[IdMaterial] [int] NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[PesoKg] [decimal](18, 3) NOT NULL,
	[Costo] [decimal](18, 3) NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[IdMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] NOT NULL,
	[IdMaterial] [int] NOT NULL,
	[IdImpresora] [int] NOT NULL,
	[TiempoImpresion] [decimal](18, 3) NOT NULL,
	[Peso] [decimal](18, 3) NOT NULL,
	[Costo] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Contrasenia] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[NombreUsuario] ASC,
	[Contrasenia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IdVenta] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Valor] [decimal](18, 3) NOT NULL,
	[FechaVenta] [datetime] NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cliente] ([IdCliente], [Nombre], [Apellido], [Dni]) VALUES (1, N'Martin', N'Elola', 44714886)
INSERT [dbo].[Cliente] ([IdCliente], [Nombre], [Apellido], [Dni]) VALUES (2, N'Jorge', N'Roda', 22003333)
INSERT [dbo].[Cliente] ([IdCliente], [Nombre], [Apellido], [Dni]) VALUES (3, N'Mariano', N'Messi', 1234567)
GO
INSERT [dbo].[Impresora] ([IdImpresora], [ConsumoElectrico], [Descripcion]) VALUES (1, 350, N'Ender 3 NEO')
INSERT [dbo].[Impresora] ([IdImpresora], [ConsumoElectrico], [Descripcion]) VALUES (4, 370, N'Ender 3 NEO V2')
INSERT [dbo].[Impresora] ([IdImpresora], [ConsumoElectrico], [Descripcion]) VALUES (5, 200, N'MK1')
GO
INSERT [dbo].[Material] ([IdMaterial], [Color], [PesoKg], [Costo], [Tipo]) VALUES (1, N'Negro', CAST(1.000 AS Decimal(18, 3)), CAST(20000.000 AS Decimal(18, 3)), N'PLA')
INSERT [dbo].[Material] ([IdMaterial], [Color], [PesoKg], [Costo], [Tipo]) VALUES (2, N'Rojo', CAST(1.000 AS Decimal(18, 3)), CAST(20000.000 AS Decimal(18, 3)), N'PLA')
INSERT [dbo].[Material] ([IdMaterial], [Color], [PesoKg], [Costo], [Tipo]) VALUES (3, N'Blanco', CAST(1.000 AS Decimal(18, 3)), CAST(25000.000 AS Decimal(18, 3)), N'PLA+')
GO
INSERT [dbo].[Producto] ([IdProducto], [IdMaterial], [IdImpresora], [TiempoImpresion], [Peso], [Costo]) VALUES (1, 5, 1, CAST(1.500 AS Decimal(18, 3)), CAST(0.150 AS Decimal(18, 3)), CAST(3000.000 AS Decimal(18, 3)))
INSERT [dbo].[Producto] ([IdProducto], [IdMaterial], [IdImpresora], [TiempoImpresion], [Peso], [Costo]) VALUES (2, 5, 5, CAST(2.000 AS Decimal(18, 3)), CAST(0.200 AS Decimal(18, 3)), CAST(6600.000 AS Decimal(18, 3)))
INSERT [dbo].[Producto] ([IdProducto], [IdMaterial], [IdImpresora], [TiempoImpresion], [Peso], [Costo]) VALUES (3, 1, 1, CAST(3.000 AS Decimal(18, 3)), CAST(0.300 AS Decimal(18, 3)), CAST(6000.000 AS Decimal(18, 3)))
GO
INSERT [dbo].[Usuario] ([NombreUsuario], [Contrasenia]) VALUES (N'admin', N'1234')
INSERT [dbo].[Usuario] ([NombreUsuario], [Contrasenia]) VALUES (N'jorge', N'roda')
GO
INSERT [dbo].[Venta] ([IdVenta], [IdCliente], [IdProducto], [Valor], [FechaVenta], [Descripcion]) VALUES (1, 1, 1, CAST(3900.000 AS Decimal(18, 3)), CAST(N'2024-11-26T00:00:00.000' AS DateTime), N'Maceta Robert ')
INSERT [dbo].[Venta] ([IdVenta], [IdCliente], [IdProducto], [Valor], [FechaVenta], [Descripcion]) VALUES (2, 1, 2, CAST(8580.000 AS Decimal(18, 3)), CAST(N'2024-11-26T00:00:00.000' AS DateTime), N'Maceta Ripped')
INSERT [dbo].[Venta] ([IdVenta], [IdCliente], [IdProducto], [Valor], [FechaVenta], [Descripcion]) VALUES (3, 6, 3, CAST(7800.000 AS Decimal(18, 3)), CAST(N'2024-11-26T00:00:00.000' AS DateTime), N'Batman Escultura')
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Impresora] FOREIGN KEY([IdImpresora])
REFERENCES [dbo].[Impresora] ([IdImpresora])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Impresora]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Impresora1] FOREIGN KEY([IdImpresora])
REFERENCES [dbo].[Impresora] ([IdImpresora])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Impresora1]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Material] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Material] ([IdMaterial])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Material]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Producto]
GO
/****** Object:  StoredProcedure [dbo].[AltaCliente]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AltaCliente]
	@IdCliente INT,
	@Nombre nvarchar(50),
	@Apellido nvarchar(50),
	@Dni INT

AS
BEGIN
	INSERT INTO Cliente
	VALUES (@IdCliente, @Nombre, @Apellido, @Dni)
END
GO
/****** Object:  StoredProcedure [dbo].[AltaImpresora]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AltaImpresora]
	@IdImpresora INT,
	@ConsumoElectricoHr INT,
	@Descripcion nvarchar(50)
AS
BEGIN
	INSERT INTO Impresora
	VALUES (@IdImpresora, @ConsumoElectricoHr, @Descripcion)
END
GO
/****** Object:  StoredProcedure [dbo].[AltaMaterial]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AltaMaterial] 
	@IdMaterial INT, 
	@Color nvarchar (50),
	@PesoKg decimal (18, 3),
	@Costo decimal (18, 3),
	@Tipo nvarchar (50)

AS
BEGIN
	INSERT INTO Material
	VALUES (@IdMaterial, @Color, @PesoKG, @Costo, @Tipo)
END
GO
/****** Object:  StoredProcedure [dbo].[AltaProducto]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AltaProducto] 
	@IdProducto INT,
	@IdImpresora INT,
	@IdMaterial INT,
	@TiempoImpresion DECIMAL(18, 3),
	@Peso DECIMAL(18, 3),
	@Costo DECIMAL (18, 3)

AS
BEGIN
	INSERT INTO Producto
	VALUES (@IdProducto, @IdImpresora, @IdMaterial, @TiempoImpresion, @Peso, @Costo)
END
GO
/****** Object:  StoredProcedure [dbo].[AltaVenta]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AltaVenta] 
	@IdVenta INT,
	@IdCliente INT,
	@IdProducto INT,
	@Valor decimal (18, 3),
	@FechaVenta DATETIME,
	@Descripcion nvarchar(50)
AS
BEGIN
	INSERT INTO Venta
	VALUES(@IdVenta, @IdCliente, @IdProducto, @Valor, @FechaVenta, @Descripcion)
END
GO
/****** Object:  StoredProcedure [dbo].[BajaCliente]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[BajaCliente]
	@IdCliente INT
AS
BEGIN
	DELETE FROM Cliente
	WHERE IdCliente = @IdCliente
END
GO
/****** Object:  StoredProcedure [dbo].[BajaImpresora]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BajaImpresora] 
	@IdImpresora INT
AS
BEGIN
	DELETE FROM Impresora 
	WHERE IdImpresora = @IdImpresora
END
GO
/****** Object:  StoredProcedure [dbo].[BajaMaterial]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BajaMaterial] 
	@IdMaterial INT

AS
BEGIN
	DELETE FROM Material
	WHERE IdMaterial = @IdMaterial
END
GO
/****** Object:  StoredProcedure [dbo].[BajaProducto]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[BajaProducto]

AS
BEGIN
	DELETE FROM Producto 
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarClientes]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EliminarClientes]
AS
BEGIN
	DELETE FROM Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarImpresora]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EliminarImpresora]
	
AS
BEGIN
	DELETE FROM Impresora
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarMateriales]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EliminarMateriales] 
	
AS
BEGIN
	DELETE FROM Material
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarProductos]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarProductos] 

AS
BEGIN
	DELETE FROM Producto
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarVentas]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EliminarVentas]

AS
BEGIN
	DELETE FROM Venta
END
GO
/****** Object:  StoredProcedure [dbo].[ListarClientes]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ListarClientes]
AS
BEGIN
	SELECT * FROM Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[ListarImpresoras]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarImpresoras] 

AS
BEGIN
	SELECT * FROM Impresora
END
GO
/****** Object:  StoredProcedure [dbo].[ListarMateriales]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarMateriales] 

AS
BEGIN
	SELECT * FROM Material
END
GO
/****** Object:  StoredProcedure [dbo].[ListarMaterialesPorTipo]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarMaterialesPorTipo]
    @Tipo nvarchar(50)
AS
BEGIN
    SET NOCOUNT ON;
	SELECT * FROM Material
    WHERE CAST(Tipo AS nvarchar(50)) = CAST(@Tipo AS nvarchar(50));  
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarProductos]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarProductos] 

AS
BEGIN
	SELECT * FROM Producto
END
GO
/****** Object:  StoredProcedure [dbo].[ListarVentas]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ListarVentas]
AS
BEGIN
	SELECT * FROM Venta
END
GO
/****** Object:  StoredProcedure [dbo].[ListarVentasPorFecha]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarVentasPorFecha]
    @FechaInicio DATETIME,
    @FechaFin DATETIME
AS
BEGIN
    SELECT * FROM Venta
    WHERE FechaVenta BETWEEN @FechaInicio AND @FechaFin;
END;
GO
/****** Object:  StoredProcedure [dbo].[ModificarCliente]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModificarCliente]
	@IdCliente INT,
	@Nombre nvarchar(50),
	@Apellido nvarchar(50),
	@Dni INT
AS
BEGIN
	UPDATE Cliente
	SET
		Nombre = @Nombre,
		Apellido = @Apellido,
		Dni = @Dni
	WHERE IdCliente = @IdCliente
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarImpresora]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificarImpresora] 
	@IdImpresora INT,
	@ConsumoElectricoHr INT,
	@Descripcion nvarchar(50)

AS
BEGIN
	UPDATE Impresora
	SET
		ConsumoElectrico = @ConsumoElectricoHr,
		Descripcion = @Descripcion
	WHERE IdImpresora = @IdImpresora
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarMaterial]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModificarMaterial]
	@IdMaterial INT,
	@Color nvarchar(50),
	@PesoKg decimal(18, 3),
	@Costo decimal(18, 3),
	@Tipo nvarchar(50)
AS
BEGIN
	UPDATE Material
	SET
		Color = @Color,
		PesoKg = @PesoKg,
		Costo = @Costo,
		Tipo = @Tipo
	WHERE IdMaterial = @IdMaterial
END
GO
/****** Object:  StoredProcedure [dbo].[ValidarUsuario]    Script Date: 26/11/2024 19:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidarUsuario]
    @NombreUsuario nvarchar(50),
    @Contrasenia nvarchar(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT CASE 
        WHEN EXISTS (
            SELECT 1 
            FROM Usuario
            WHERE NombreUsuario = @NombreUsuario AND Contrasenia = @Contrasenia
        ) THEN 1
        ELSE 0
    END AS LoginExitoso;
END

GO
USE [master]
GO
